.button {
    height: 32px;
    padding: 0 16px;
    line-height: 32px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.button-icon {
    padding-left: 0 !important;
}

.button-icon-icon {
    margin: 8px;
    width: 16px;
    height: 16px;
    display: flex;
}

.button-icon-icon-sum{
    background: url(../../assets/img/icon_collection.svg) no-repeat -241px -128px;
}

.button-background-primary{
    background-color:#4262F0;
    color:#FFFFFF;
}

.button-background-primary:hover{
    background-color: #2B4EEE;
    transition: 0.5s;
}

.button-background-primary:active{
    background-color:#133BEC;
}

.button-background-white{
    border:1px solid #D3D7DE;
    background-color:#ffffff;
}

.button-background-white:hover{
    background-color: #E2E4E9;
    transition: 0.5s;
}
 
.button-background-white:active{
    background-color: #D3D7DE;
}

.button-icon-text {
    height: 15px;
    display: flex;
    align-items: center;
}

.button-arrow {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-left: 1px solid #ffffff;
    box-sizing: border-box;
    cursor:pointer;
}

.combo-button {
    display: flex;
    align-items: center;
    justify-content: start;
}

.button-dots{
    padding:0;
}

.button-icon-left{
    border-radius: 4px 0 0 4px;
}

.button-icon-right{
    border-radius: 0 4px 4px 0;
}
.button-toolbar-left {
    border: none;
    background: none;
    cursor:pointer;
    height: 32px;
    width: 32px;
    border-radius: 4px;
}

.button-toolbar-left:hover {
    color: #2B4EEE;
}
.button-toolbar-refesh {
    margin: 0;
}

.toolbar-left.toolbar-child {
    display: flex;
    align-items: center;
    padding-left: 16px;
    box-sizing: border-box;
    justify-content: space-between;
}

button.button-icon-refesh {
    border: none;
    border-radius: 4px;
    background: none;
    cursor: pointer;
}

.button.button-icon-refesh:hover>.icon-refesh{
    background: url(../../assets/img/icon_collection.svg) no-repeat -207px -144px;
    transition: 0.5s;
}

button.pop-up-bottom-active:hover {
    background: #EA2E2E;
}

button.pop-up-bottom-active:active {
    background: #E81717;
}
