.content{
    grid-column: 1/13;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 240px calc(100% -  240px - 320px) 320px;
}

.content-sider-bar-left{
    grid-column: 1/2;
    border-right: 1px solid #D3D7DE;
    box-sizing:border-box;
    display: inline-block;
}


.content-center{
    grid-column: 2/3;
    overflow: hidden;
    display: grid;
    grid-template-rows:calc(100vh - 84px - 64px - 48px) 48px;
    position:relative;
}

.content-sider-bar-right{
    grid-column: 3/4;
    border-left: 1px solid #D3D7DE;
    display:grid;
    grid-template-rows: 32px calc(100vh - 84px - 64px - 32px);
}

/* content left */
.filter-save {
    border: none !important;
    border-radius: 0 !important;
}

.filter-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 16px;
    height: 32px;
    line-height: 32px;
}

.filter-title-icon {
    height: 32px;
}

.filter-content-child-checkbox {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 32px;
    padding: 0 16px;
}

.filter-content-child-box {
    padding: 0 16px;
    padding-bottom: 8px;
}

.combobox.filter-save.filter-content-child-box-combobox {
    display: inline;
}

.filter-content-child-box-textarea-content {
    height: 76px;
    background: white;
    border-radius: 4px;
    margin-top: 8px;
    overflow: scroll;
    overflow-x: hidden;
}

.filter-content {
    height: calc(100vh - 84px -  64px - 32px - 32px);
    overflow: scroll;
    overflow-x: hidden;
}

.content-sider-bar-right-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #D3D7DE;
    grid-row: 1/2;
}

.content-sider-bar-right-child-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-sider-bar-right-content{
    grid-row: 2/3;
}
.buttonHideShow {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 32px !important;
    width: 16px !important;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 11px 5px #cccccc;
    background-color:white;
    animation:3s all ease animationArrow;
    cursor:pointer;
}

.buttonHideShowLeft {
    left: 0;
    border-radius: 0px 8px 8px 0px;
}

.buttonHideShowRight {
    right: 0;
    border-radius: 8px 0 0 8px;
}

.buttonHideShow:hover {
    cursor: pointer;
    background: #E2E4E9;
    transition: 0.5s;
}


.buttonHideShow:active {
    background: #f7f8fb;
}


.filter-bottom {
    display: flex;
    align-items: center;
    height: 56px;
    flex-direction: row-reverse;
    padding: 0 16px;
    background-color: #EEF0F2;
    border-top: 1px solid #D3D7DE;
}

.filter-bottom>button:first-child {
    margin-left: 8px;
}

.filter-content-child-box-textarea-content.border-color-c {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
}

.filter-content-child-box-textarea-content.border-color-c .combobox-content-select-content {
    width: max-content;
}

.el-input__wrapper {
    display: flex;
    box-shadow: none;
}

.el-input.el-input--prefix.el-input--suffix.el-date-editor.el-date-editor--date.el-tooltip__trigger.el-tooltip__trigger {
    width: 240px !important;
    font-size:13px;
    border:1px solid #d3d7de !important;
    border-radius:4px;
}

.el-input__wrapper {
    padding: 0 8px 0 16px;
}

i.el-icon.el-input__icon {
    margin: 0;
}

span.el-input__prefix {
    display: flex;
    position: absolute;
    right: 8px;
}

.el-picker-panel__icon-btn {
    width: 32px;
    height: 32px;
    font-size: 16px;
}

span.el-date-table-cell__text {
    border-radius: 4px !important;
}

.el-date-table td.current:not(.disabled) .el-date-table-cell__text {
    background-color: #4262F0 !important;
}

span.el-date-table-cell__text {
    width: 32px !important;
    height: 32px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.el-date-table td.today .el-date-table-cell__text {
    color: #4262F0 !important;
    font-weight: 400;
}

.el-date-table td.available:hover .el-date-table-cell__text {
    background-color: #E7EBFD;
    font-weight: 400;
    color: #4262F0;
}

.el-date-picker__header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.el-input.el-input--prefix.el-input--suffix.el-date-editor.el-date-editor--date.el-tooltip__trigger.el-tooltip__trigger:hover {
    border: 1px solid #7C869C !important;
    box-shadow: none;
    cursor: pointer;
}
.el-input.el-input--prefix.el-input--suffix.el-date-editor.el-date-editor--date.el-tooltip__trigger.el-tooltip__trigger:hover span.el-input__prefix{
    display:none;
}

.el-input__wrapper.is-focus{
    box-shadow: none;
}

.el-input__inner:hover {
    cursor: pointer;
}

.el-input__wrapper:hover {box-shadow: none;}

.el-icon svg {
    height: 16px !important;
    width: 16px !important;
}

.table-button-right-chlid .button-background-white {
    border: none !important;
}