.label-input {
    width: 240px;
    height: 32px;
    background: white;
    position: relative;
    border: 1px solid #D3D7DE;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

input.input {
    width: 100%;
    background: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 32px;
    padding-right: 16px;
    font-size: 13px;
    font-weight: 400;
}

.input-icon {
    padding: 0 32px 0 16px !important;
    FONT-WEIGHT: 100;
    FONT-WEIGHT: 100;
    FONT-WEIGHT: 100;
    FONT-WEIGHT: 100;
}

input[type="checkbox"] {
    cursor:pointer;
    outline:none;
    display:none;
}

.tbody input[type="checkbox"]:checked~ label{
    background: url('../../assets/img/icon_collection.svg') no-repeat -177px -17px;
    height:16px;
    width: 16px;
    cursor:pointer;
}

.thead input[type="checkbox"]:checked~ label{
    background: url('../../assets/img/icon_collection.svg') no-repeat -193px -193px;
    height:16px;
    width: 16px;
    cursor:pointer;
}

.filter-content-child-checkbox-input {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 8px;
}

.label-input:hover {
    border-color: #0F2FBD;
}

.filter-content-child:hover {
    background: #F0F2F4;
    cursor: pointer;
}


/* content filter */
.filter-content-active {
    background-color: #F0F2F4;
}

textarea.textarea {
    width: 240px;
    height: 76px;
    resize: none;
    border: 1px solid #d3d7de;
    border-radius: 4px;
    outline: none;
    padding: 8px 16px;
    box-sizing: border-box;
}

.selected{
    color: #4262F0;
}

.border-input-content {
    width: 240px;
    height: 32px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #d3d7de;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow:hidden;
}


input.input-content {
    border: none;
    outline: none;
    padding-left:16px;
    width: 216px !important;
  }

  .input-icon-content {
    display: none;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
}
  

.border-input-content:hover>.input-icon-content {
    display: flex;
}

.border-input-content:hover,
.combobox-child:hover {
    border-color: #7C869C;
}

.border-input-content:focus{
    border-color:#4262F0;
}

input[type="date"].border-input-content {
    padding: 0 8px 0 16px;
}

.label-input.label-input-icon:hover {
    border-color: #7C869C;
}

.label-input.label-input-icon:hover {
    border-color: #7C869C;
}

textarea.textarea:hover {
    border-color: #7C869C;
}

textarea.textarea:focus {
    border-color: #4262F0;
}

/* datetime picker */
.vuejs3-datepicker__value {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    outline:none;
    border:1px solid #d3d7de;
    height:32px;
    font-size: 13px  !IMPORTANT;
    padding: 0;
    align-items: baseline;
    border-radius: 4px;
    width: 240px;
    align-items: center;
}

.vuejs3-datepicker__value:hover{
    border-color:#7C869C;
}

.vuejs3-datepicker__value:focus{
    border-color:red;
}

.vuejs3-datepicker__content {
    margin: 0;
    padding-left: 16px;
}

span.vuejs3-datepicker__icon {
    margin: 0;
    padding-right: 8px;
}

.form-container-content-child {
    display: flex;
    flex-wrap: wrap;
}

.vuejs3-datepicker.vuejs3-green {
    position: relative;
}

.vuejs3-datepicker__calendar.vuejs3-green {
    position: absolute;
    top: -960%;
    left: 0;
    right: 0;
    width: 240px;
    z-index: 9999;
}

section.vuejs3-datepicker__calendar-topbar {
    display: none;
}

.filter-content-child-box .border-input-content {
    width: 200px;
    margin-top: 8px;
    background: white;
}

.border-input-forcus,
.border-input-content:focus-within,
.label-input.label-input-icon:focus-within{
    border-color:#4262F0 !important;
}
.el-input.el-input--prefix.el-input--suffix.el-date-editor.el-date-editor--date.el-tooltip__trigger.el-tooltip__trigger:focus-within {
    border-color: #4262F0  !important;
}

.el-popper.is-pure.is-light.el-picker__popper {
    z-index: 9999 !important;
}

.form-container-content-child-item.form-container-content-child-avatar {
    display: flex;
    flex-direction: column;
}

span.span-error {
    margin-top: 8px;
}

.form-container-content-child-item.form-container-description {
    width: max-content;
}


.form-container-content-child-item-input-textarea {
    position: relative;
}

.form-container-content-child-item-input-textarea>.input-icon-content {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.textarea:hover+.input-icon-content{
    display:flex;
}

.input-icon-content:hover {
    display: flex;
}

.input-error {
    border-color: red !important;
}

label.label-file>div>img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.el-date-table td.current:not(.disabled) .el-date-table-cell__text {
    background-color: #4262F0 !important;
    color: white !important;
}