.table-container {
    grid-row: 1/2;
    display:grid;
    grid-template-rows: 32px calc(100vh - 84px - 64px - 48px - 32px);
    position: relative;
}

.tr{
    display: grid;
    grid-template-columns: 40px 56px 80px 100px 180px 150px 150px 150px 200px 200px 100px 150px 150px 150px 150px 150px 150px 150px 120px 200px;
    height: 32px;
    line-height: 32px;
    text-align: start;
    box-sizing: border-box;
}


.tbody>.tr:hover>.td {
    background-color: #E7EBFC;
    cursor: pointer;
}

.table-header {
    font-family: 'Latin Bold';
    grid-row: 1/2;
    overflow: hidden;
    position: relative;
    border: 0px;
    width: 1000%;
    display: flex;
    align-items: center;
    background-color: #F0F2F4;
}

.table-content{
    grid-row: 2/3;
    position: relative;
    overflow: auto;
    width: 100%;
}

.table-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.table-button-right {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.table-button-left-text{
    font-family: Latin Bold;
}

.th {
    display: flex;
    align-items: center;
}

.td,.th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #D3D7DE;
    padding-right: 16px;
}

.tr-child-center {
    padding: 0 16px;
    display: flex;
    align-items: center;
    width: 24px;
    justify-content: center;
}

.td.tr-child-center:hover>span{
    background: url('../../assets/img/icon_collection.svg') no-repeat -255px -128px;
}

.tbody>.tr>.td:first-child>span {
    display: none;
}

.tbody>.tr:hover>.td:first-child>span {
    display: inline-block;
}

.tr>.tr-child-center:first-child {
    padding-right: 0px;
}

.tr label {
    display: flex;
}

div#paging .combobox-child.combobox-data.div-inline-block {
    top: -455%;
    border-radius: 4px 4px 0 0;
}

div#paging .combobox-child.combobox-data.div-inline-block .combobox-data-child {
    display: flex;
    flex-direction: column-reverse;
}

div#paging .combobox-data-child {
    overflow: hidden !important;
}

div#paging>.combobox-data {
    width: calc(100% +  2px);
}

div#paging {
    width: max-content;
}

.table-button-right-chlid-text {
    margin-right:8px;
}

.table-button-right-chlid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.table-button-right-chlid>button:not(:last-child) {
    margin-right: 8px;
}

.table-button-right>div:not(:last-child) {
    margin-right: 16px;
}

.table-button-right-chlid>button {
    padding: 8px;
    border:none;
}
.table-button-right-chlid-text>span {
    font-weight: 600;
}

.background-disabled{
    background: none !important;
    cursor: default !important;
}