

.tool-tip-text {
    position: absolute;
    width: max-content;
    background: #424857;
    transform: translateX(-50%);
    left: 50%;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;
    height: 16px;
    display: none;
    z-index:999;
}

.tool-tip-text-top{
    bottom: 130%;
}

.tool-tip-text-bottom{
    top: 150%;
}

.tool-tip-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#tool-tip:hover .tool-tip-text {
    display: inline-block;
}

span.tool-tip-text-top-arrow {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
}

span.tool-tip-text-top-arrow-top{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #424857;
    top: 80%;
}

span.tool-tip-text-top-arrow-bottom{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #424857;
    bottom: 80%;
}

.tool-tip-text-bottom-right {
    top: 130%;
    left: -50%;
}

.tool-tip-text-bottom-right.tool-tip-text>.tool-tip-text-top-arrow-bottom {
    left: 80%;
}

.tool-tip-text-top-right {
    bottom: 130%;
    left: -5%;
}

.tool-tip-text-top-right>.tool-tip-text-top-arrow-top {
    left: 80%;
}
